__pycache__/*
__pycache__/
*.py[cod]
*$py.class
.vscode/
.idea/
.cache/
tmp/*

thirdparty/mmcv/mmcv.egg-info/*
thirdparty/mmcv/build/*
thirdparty/mmcv/docs/*
thirdparty/mmcv/tests/data/*
thirdparty/sibr_core/*
thirdparty/*/__pycache__/*
thirdparty/gaussian_splatting/submodules/gaussian_rasterization_ch9/diff_gaussian_rasterization_ch9.egg-info/PKG-INFO
thirdparty/gaussian_splatting/submodules/simple-knn/*egg-info

generatecode.py
getconfig.py
test.sh
*.sh
log/*
model/*